[submodule "codes/jetbrains-cc-gui"]
	path = codes/jetbrains-cc-gui
	url = https://github.com/zhukunpenglinyutong/jetbrains-cc-gui.git
[submodule "codes/acpx"]
	path = codes/acpx
	url = https://github.com/openclaw/acpx.git
[submodule "codes/agentapi"]
	path = codes/agentapi
	url = https://github.com/coder/agentapi.git
[submodule "codes/claudecodeui"]
	path = codes/claudecodeui
	url = https://github.com/siteboon/claudecodeui.git
[submodule "codes/lobehub"]
	path = codes/lobehub
	url = https://github.com/lobehub/lobehub.git
[submodule "codes/AionUi"]
	path = codes/AionUi
	url = https://github.com/iOfficeAI/AionUi.git
[submodule "codes/Proma"]
	path = codes/Proma
	url = https://github.com/ErlichLiu/Proma.git
[submodule "codes/openai-node"]
	path = codes/openai-node
	url = https://github.com/openai/openai-node.git
[submodule "codes/anthropic-sdk-typescript"]
	path = codes/anthropic-sdk-typescript
	url = https://github.com/anthropics/anthropic-sdk-typescript.git
[submodule "codes/acp-typescript-sdk"]
	path = codes/acp-typescript-sdk
	url = https://github.com/agentclientprotocol/typescript-sdk.git
[submodule "codes/agentscope-java"]
	path = codes/agentscope-java
	url = https://github.com/agentscope-ai/agentscope-java.git
[submodule "codes/learn-claude-code"]
	path = codes/learn-claude-code
	url = https://github.com/shareAI-lab/learn-claude-code.git
[submodule "codes/ClawTeam"]
	path = codes/ClawTeam
	url = https://github.com/HKUDS/ClawTeam.git
[submodule "codes/claude-code-sourcemap"]
	path = codes/claude-code-sourcemap
	url = https://github.com/ChinaSiro/claude-code-sourcemap.git
[submodule "codes/codex"]
	path = codes/codex
	url = https://github.com/openai/codex.git
[submodule "codes/DeepSeek-Reasonix"]
	path = codes/DeepSeek-Reasonix
	url = https://github.com/esengine/DeepSeek-Reasonix.git
